<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Campus Features</title>
</head>
<body>
  <h1>Campus Features</h1>
  <ul>
    <li>Time Table</li>
    <li>Aarti Schedule</li>
    <li>Past Papers</li>
    <li>College Bus Timing</li>
    <li>Uniform Guidelines</li>
    <li>College Clubs</li>
    <li>Canteen Menu</li>
    <li>Book Availability</li>
    <li>Emergency Contact</li>
    <li>Campus Hostel Info</li>
    <li>Activities</li>
    <li>Auditorium Schedule</li>
    <li>Faculty Contact Info</li>
    <li>Event Information</li>
    <li>Visited Companies</li>
  </ul>
  <a href="/">Back to Home</a>
</body>
</html>